body {
    background: #385887
}
.owl-stage-outer {
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    min-height: 600px;
    background-position: 198px 7px;
}
.owl-carousel {
    max-width: 768px;
}
.owl-item.medium.active .item, .owl-item.cloned.active .item {
    width: 79%;
    opacity: .5;
    filter: blur(1px);
    padding-top: 94px;
    padding-left: 25px;
}
.owl-item.active.center .item {
    width: calc(84% + 2px);
    padding-top: 77px;
    transition: all 0.3s ease;

}
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.owl-item.active.center .fadeInUp{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}
.owl-item.active.center + div.owl-item .item,
.owl-item.custom-center.active.center+div.owl-item .item {
    width: 90%;
    padding: 0px;
    opacity: .5;
    transition: all 0.3s ease;
    filter: blur(1px);
    padding-top: 50px;
}
.owl-item .item {
    width: 84%;
    transition: all 0.3s ease;
    padding-top: 70px;
}
.icon-fly {
    position: absolute;
    height: 100%;
    top:0%;
    width: 100%;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.icon-fly{
  z-index: -1;
  opacity: 0;
}
.icon-fly.fadeInUp{
  z-index: 0;
}

.pdf-slider-left{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 89px;
  background: url(images/pdf-icon-slider-left.png);
  left: 22px;
  top: 200px;
}
.pdf-slider-center{
  display: block;
  position: relative;
  left: 52px;
  top: 200px;
  width: 101px;
  height: 149px;
  background: url('images/pdf-icon-slider-center.png')
}
.pdf-slider-right{
  position: relative;
  left: 52px;
  top: 190px;
  display: inline-block;
  width: 80px;
  height: 118px;
  background: url('images/pdf-icon-slider-right.png')
}
